/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include "totem.dtsi"

/# &kscan0 {
#    col-gpios
#       = <&xiao_d 8 GPIO_ACTIVE_HIGH>
#     , <&xiao_d 9 GPIO_ACTIVE_HIGH>
#     , <&xiao_d 10 GPIO_ACTIVE_HIGH>
#    , <&xiao_d 5 GPIO_ACTIVE_HIGH>
#   , <&xiao_d 4 GPIO_ACTIVE_HIGH>
#  ;
#};/


 {
    kscan_0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        col-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>,  // P0.02 (antigo D0)
                   <&gpio0 3 GPIO_ACTIVE_HIGH>;  // P0.03 (antigo D1)
        row-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;  // P0.04 (antigo D2)
    };
};
