/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

/ {
    chosen {
        zmk,kscan = &kscan_0;
    };

    kscan_0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        col-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>,
                   <&gpio0 3 GPIO_ACTIVE_HIGH>;
        row-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
        
        // Propriedades obrigatórias para o ZMK Studio
        rows = <1>;
        columns = <2>;
    };
};
